.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
  font-size: 1.3rem;
}

body {
  font-family: "Poppins, Verdana, Geneva, Tahoma, sans-serif";
  background-color:dimgray;
  color: white;
}

.card {
  background-color:slategrey
}